@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    font-family: 'Nunito', sans-serif !important;
}

table,
tr {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

td {
    width: 200px;
    text-align: center;
}

.boutons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.showtable {
    margin-bottom: 20px;
}

.btn.btn-primary {
    margin-right: 40px;
    margin-left: 40px;
}